
body {
    background-color: #2D3142;
    color: #aed4e6;
}

#text_input {
    background-color: #2D3142;
    color: #aed4e6;
    border-style: none;
    border-bottom: 3px solid #0E7C7B;
    width: 1000px;
    margin-left: 10;
    margin-right: 10;
    text-align: center;
    font-size: larger;
    height: 50px;
}

#text_input:focus {
    outline: none;
}

#input_container {
    display: grid;
    justify-content: center;
}

#top {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#top img {
    margin: 10px;
    width: 300;
    height: 300;
}

#top img:hover{
    cursor: pointer;
}

#top button{
    background-color: #2D3142;
    color: #aed4e6;
    border-color: #0E7C7B;
    border-style: solid;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 2%;
    height: 50%;
    margin-top: 28px;
}

#top button:hover{
    color: #ffffff;
    background-color: #0E7C7B;
    transition: background-color 0.2s linear, color 0.2s linear;
    cursor: pointer;
}

#logo_container {
    display: grid;
    justify-content: center;
    margin-top: -100px;
}

#logo_container_main {
    display: grid;
    justify-content: center;
}

a {
    color: #ffffff;
}

#artists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#artist {
    margin: 15px;
    padding: 10px;
    border: 4px solid #0E7C7B;
    border-radius: 5px;
    background-color: #2D3142;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    box-shadow: 5px 10px #000000;
}

#artist:hover {
    background-color: #0E7C7B;
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0px 0px #000000;
}
#remove_button {
    background-color: transparent;
    border-style: none;
    font-size:small;
    color: #ff0000;
    text-emphasis: bold;
    cursor: pointer;
}
#remove_button:hover {
    color: #ffffff;
    background-color: #ff0000;
    transition: background-color 0.2s linear, color 0.2s linear;
}
#settings_button {
    background-color: transparent;
    border-style: none;
    color: #ac8887;
    text-emphasis: bold;
    font-size: large;
    cursor: pointer;
}
#settings_button:hover {
    color: #ffffff;
    background-color: #ac8887;
    transition: background-color 0.2s linear, color 0.2s linear;
}
#artist img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#artist h2 {
    text-align: center;
    user-select: none;
}
#artist p {
    text-align: center;
    user-select: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 1000;
}
#settings_popup {
    display: none;
}

#settings {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background-color: #1a1e26;
    border-radius: 10px;
    box-shadow: 5px 10px #000000;
    padding: 20px;
    border: 2px solid #008b8b;
    z-index: 1100;
}

#generating {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: 500px;
    background-color: #1a1e26;
    border-radius: 10px;
    box-shadow: 5px 10px #000000;
    padding: 20px;
    border: 2px solid #008b8b;
    z-index: 1100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow:hidden;
    overflow-wrap: anywhere;
}

#generating_title {
    font-size: 50px;
}

#generating_popup{
    display: none;
}

#close_settings {
    background-color: transparent;
    border-style: none;
    font-size:small;
    color: #ff0000;
    text-emphasis: bold;
    cursor: pointer;
}
#close_settings:hover {
    color: #ffffff;
    background-color: #ff0000;
    transition: background-color 0.2s linear, color 0.2s linear;
}
#checkbox_container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.settings_option{
    margin-top: 10px;
    background-color: #1a1e26;
}

.settings_label{
    font-size: x-large;
}

#settings_photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#generate_container{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateY(100px);
}

#generate{
    width: 30%;
    font-size: 90px;
    transform: translateY(-150px);
    transition: transform 1s ease-in-out;
    border: 4px solid #0E7C7B;
    border-radius: 5px;
    background-color: #2D3142;
    box-shadow: 5px 10px #000000;
    color: #aed4e6;
}

#generate:hover {
    background-color: #0E7C7B;
    box-shadow: 0px 0px #000000;
    cursor: pointer;
}

#login_text {
    position: fixed;
    display: flex;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#footer {
  background-color: transparent;  
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #0000005b
}

#footer a:hover {
    background-color: #ddd;
    color: black;
}
  
#footer a.active {
    background-color: #0E7C7B;
    color: white;
}

#welcome_div {
    display: grid;
    justify-content: center;
    text-align: center;
}

#welcome_div h2{
    margin-top: -15px;
}

.about_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.about_div img{
    width: 40%;
    height: auto;
    padding-right: 100px;
    padding-left: 100px;
}

.about_div p{
    font-size: xx-large;
    padding-left: 100px;
    padding-right: 100px;
}